In [5]:
import pandas as pd
df = pd.read_csv(r'C:\Users\sachi\OneDrive\Documents\SELENIUM\data_check\ACLBSL_data.csv')

In [6]:
df.head()

,Date,S.No,Symbol,Conf.,Open,High,Low,Close,VWAP,Vol,...,Trans.,Diff,Range,Diff %,Range %,VWAP %,52 Weeks High,52 Weeks Low,120 Days,180 Days
0,2023/12/14,1,ACLBSL,58.27,555.00,563.80,540.10,544.00,548.14,"1,000.00",...,24,-1.0,23.7,-0.18,4.39,-0.76,906.70,500.1,NaN,NaN
1,2023/12/17,1,ACLBSL,56.79,534.00,560.00,534.00,559.00,551.54,"1,021.00",...,38,15.0,26.0,2.76,4.87,1.34,906.70,500.1,NaN,NaN
2,2023/12/18,1,ACLBSL,-,"1,370.00","1,370.20","1,330.00","1,365.00","1,352.43","16,122.00",...,254,-31.0,40.2,-2.22,3.02,0.92,"1,491.00",500.1,840.13,744.22
3,2023/12/19,1,ACLBSL,69.71,601.00,640.00,596.00,616.00,613.50,"4,653.00",...,67,12.1,44.0,2.00,7.38,0.41,906.70,500.1,NaN,NaN
4,2023/12/20,1,ACLBSL,64.44,621.00,621.00,596.00,617.00,606.74,"1,692.00",...,63,1.0,25.0,0.16,4.19,1.66,906.70,500.1,NaN,NaN

In [10]:
df = df[['Date','Open','High','Low','Close']]

In [11]:
df

           Date      Open      High       Low     Close
0    2023/12/14    555.00    563.80    540.10    544.00
1    2023/12/17    534.00    560.00    534.00    559.00
2    2023/12/18  1,370.00  1,370.20  1,330.00  1,365.00
3    2023/12/19    601.00    640.00    596.00    616.00
4    2023/12/20    621.00    621.00    596.00    617.00
..          ...       ...       ...       ...       ...
138  2024/07/16  1,215.00  1,320.00  1,210.00  1,289.00
139  2024/07/17  1,263.30  1,417.90  1,240.00  1,415.00
140  2024/07/18  1,370.00  1,370.20  1,330.00  1,365.00
141  2024/07/21  1,372.00  1,479.00  1,321.00  1,396.00
142  2024/07/22  1,370.00  1,370.20  1,330.00  1,365.00

[143 rows x 5 columns]

ModuleNotFoundError: No module named 'oandapyV20'